version: '3'

services:
  provider:
    image: redis:6.2.3-alpine
    restart: unless-stopped
    volumes:
        - redis_data:/data
    networks:
      default:
      emotives:
        aliases:
          - redis

networks:
  emotives:
    external:
      name: emotives
  default:

volumes:
  redis-data: