name: Merged items

# only trigger on pull request closed events
on:
  pull_request:
    types: [ closed ]

jobs:
  build-and-push-image:
    # this job will only run if the PR has been merged
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 1
      - name: Build image
        run: ./scripts/build-test.sh
      - name: Log in and push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUBTOKEN }}
        run: |
          echo $GITHUB_TOKEN | docker login ghcr.io -u imthetom --password-stdin
          docker push ghcr.io/tombowyerresearchproject/postgres_db:latest
      - name: Connect and start
        uses: appleboy/ssh-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUBTOKEN }}
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          envs: GITHUB_TOKEN
          script: |
            echo $GITHUB_TOKEN | docker login ghcr.io -u imthetom --password-stdin
            rm -R databases
            git clone git@github.com:TomBowyerResearchProject/databases.git
            cd databases
            ./scripts/start.sh